## Previsão de desempenho dos alunos

In [50]:
# Carregando Bibliotecas
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'matplotlib'

In [35]:
# importando base de dados
df = pd.read_csv('exams.csv')

print("DataSet de Desempenho dos Alunos")
display(df)

DataSet de Desempenho dos Alunos

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group D,some college,standard,completed,59,70,78
1,male,group D,associate's degree,standard,none,96,93,87
2,female,group D,some college,free/reduced,none,57,76,77
3,male,group B,some college,free/reduced,none,70,70,63
4,female,group D,associate's degree,standard,none,83,85,86
...,...,...,...,...,...,...,...,...
995,male,group C,some college,standard,none,77,77,71
996,male,group C,some college,standard,none,80,66,66
997,female,group A,high school,standard,completed,67,86,86
998,male,group E,high school,standard,none,80,72,62
999,male,group D,high school,standard,none,58,47,45

#### Análises dos dados e pré-processamento

In [36]:
print("Informações sobre o DataSet")
display(df.info())

Informações sobre o DataSet
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

None

In [37]:
print(f"O DataFrame possui {df.shape[0]} linhas e {df.shape[1]} colunas. Das 8 colunas 5 são do tipo string e 3 do tipo inteiro.")

O DataFrame possui 1000 linhas e 8 colunas. Das 8 colunas 5 são do tipo string e 3 do tipo inteiro.

In [38]:
print("Descrição Geral do DataSet:")
display(df.describe())

Descrição Geral do DataSet:

        math score  reading score  writing score
count  1000.000000    1000.000000    1000.000000
mean     67.810000      70.382000      69.140000
std      15.250196      14.107413      15.025917
min      15.000000      25.000000      15.000000
25%      58.000000      61.000000      59.000000
50%      68.000000      70.500000      70.000000
75%      79.250000      80.000000      80.000000
max     100.000000     100.000000     100.000000

In [39]:
print("Quantidade de crianças por Gênero")
display(df['gender'].value_counts())

Quantidade de crianças por Gênero

gender
male      508
female    492
Name: count, dtype: int64

In [40]:
print("Proporção de crianças por Gênero")
display(df['gender'].value_counts(normalize = True))

Proporção de crianças por Gênero

gender
male      0.508
female    0.492
Name: proportion, dtype: float64

In [41]:
print("Total de crianças por genero e etnia")
display(df.groupby("gender")['race/ethnicity'].value_counts())

Total de crianças por genero e etnia

gender  race/ethnicity
female  group C           151
        group D           118
        group B           112
        group E            70
        group A            41
male    group C           172
        group D           139
        group B            86
        group E            73
        group A            38
Name: count, dtype: int64

In [42]:
print("Proporção de crianças por genero e etnia")

display(round(df.groupby("gender")['race/ethnicity'].value_counts(normalize = True),2))

Proporção de crianças por genero e etnia

gender  race/ethnicity
female  group C           0.31
        group D           0.24
        group B           0.23
        group E           0.14
        group A           0.08
male    group C           0.34
        group D           0.27
        group B           0.17
        group E           0.14
        group A           0.07
Name: proportion, dtype: float64

In [46]:
print('Média do Score de Matemática por Gênero')
display(round(df.groupby("gender")["math score"].mean()))

Média do Score de Matemática por Gênero

gender
female    65.0
male      71.0
Name: math score, dtype: float64

In [47]:
print('Média do Score de Leitura por Gênero')
display(round(df.groupby("gender")["reading score"].mean()))

Média do Score de Leitura por Gênero

gender
female    73.0
male      67.0
Name: reading score, dtype: float64

In [48]:
print('Média do Score de Escrita por Gênero')
display(round(df.groupby("gender")["writing score"].mean()))

Média do Score de Escrita por Gênero

gender
female    73.0
male      65.0
Name: writing score, dtype: float64

Os dados analisados indicam que os alunos do gênero feminino tem um score nos testes de leitura e escrita superiores ao dos alunos do sexo masculino, entretanto, estes últimos, de acordo com os dados, possuem score em matemática superior.

In [49]:
fig, axes = plt.subplots(3, 2, figsize=(12, 12))

gender_counts.plot(kind='bar', ax=axes[0, 0], title='Gender Counts')
axes[0, 0].set_xticklabels(axes[0, 0].get_xticklabels(), rotation=0)

race_ethnicity_counts.plot(kind='bar', ax=axes[0, 1], title='Race/Ethnicity Counts')
axes[0, 1].set_xticklabels(axes[0, 1].get_xticklabels(), rotation=45, ha='right')

parental_education_counts.plot(kind='bar', ax=axes[1, 0], title='Parental Education Counts')
axes[1, 0].set_xticklabels(axes[1, 0].get_xticklabels(), rotation=45, ha='right')

lunch_counts.plot(kind='bar', ax=axes[1, 1], title='Lunch Counts')
axes[1, 1].set_xticklabels(axes[1, 1].get_xticklabels(), rotation=0,)

test_preparation_counts.plot(kind='bar', ax=axes[2, 0], title='Test Preparation Counts')
axes[2, 0].set_xticklabels(axes[2, 0].get_xticklabels(), rotation=0)

axes[2, 1].axis('off')

plt.tight_layout()
plt.show()

NameError: name 'plt' is not defined