## Previsão de desempenho dos alunos

In [11]:
# Carregando Bibliotecas
import pandas as pd 
import numpy as np

In [12]:
# importando nase de dados
df = pd.read_csv('exams.csv')

print("DataSet de Desempenho dos Alunos")
display(df)

DataSet de Desempenho dos Alunos

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group D,some college,standard,completed,59,70,78
1,male,group D,associate's degree,standard,none,96,93,87
2,female,group D,some college,free/reduced,none,57,76,77
3,male,group B,some college,free/reduced,none,70,70,63
4,female,group D,associate's degree,standard,none,83,85,86
...,...,...,...,...,...,...,...,...
995,male,group C,some college,standard,none,77,77,71
996,male,group C,some college,standard,none,80,66,66
997,female,group A,high school,standard,completed,67,86,86
998,male,group E,high school,standard,none,80,72,62
999,male,group D,high school,standard,none,58,47,45

#### Análises dos dados e pré-processamento

In [14]:
print("Informações sobre o DataSet")
display(df.info())

Informações sobre o DataSet
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

None

In [16]:
print(f"O nosso DataFrame possui {df.shape[0]} linhas e {df.shape[1]} colunas. Das 8 colunas 5 são do tipo string e 3 do tipo inteiro.")

O nosso DataFrame possui 1000 linhas e 8 colunas. Das 8 colunas 5 são do tipo string e 3 do tipo inteiro.